.App {
    margin: 20px auto;
    text-align: center;
    width: 80vh;
}

.GameBox {
    display: grid;
    grid-template-rows: 1fr;
    gap: 1px;
    margin: auto;
    max-width: 50vw;
}

.Level, .GameOver {
    padding-bottom: 15px;
}

.HighScore {
    max-width: 50vw;
    margin: auto;
    padding-bottom: 50px;
}

.HighScore > .Score {
    display: grid;
    grid-template-columns: 20% 1fr 20%;
}

.Score input {
    width: 70%;
    margin: auto;
}

.Score.Header {
    padding-bottom: 5px;
}

.Score > .Name {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.RetryButton {
    border: none;
    padding: 10px 20px;
    border-radius: 15px;
}

@media (max-device-width: 767px) {
    .App, .GameBox {
        max-width: 80vw;
    }

    .HighScore {
        min-width: 60vw;
    }
}

.Square:after {
    content: "";
    display: block;
    padding-bottom: 100%;
}
